<body>
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>Contact Us</h1>
                </div>
                <div class="content">
                    <h3>IPL Betting</h3>
                    <p>
                        Email : info.sportgeek@gmail.com
                    </p>
                    <p>
                        Mobile : 9033481597
                    </p>
                    <!-- <div class="button">
                        <a routerLink>Read More</a>
                    </div> -->
                </div>
                <div class="social">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="image-section">
                <!-- <img src="assets/img/ipl.jpg" alt=""> -->
                <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="onChoseLocation($event)">
                    <agm-marker (click)="onNavigate()" [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
            </div>
        </div>
    </div>

</body>