@import url("https://fonts.googleapis.com/css?family=Lato:300");
.container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
    border-width: 10px;
    border-style: groove;
    border-color: yellowgreen;
    padding: 20px;
    align-content: stretch;
    /* background: #353535; */
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    animation: rotate 1.5s linear infinite;
    height: 300px;
    width: auto;
}

@keyframes rotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.innerr1 {
    position: relative;
    height: 100%;
    align-self: center;
    vertical-align: middle;
    margin-top: 10%;
    text-align: center;
    /* margin-right: 20%; */
}

.innerr2 {
    height: 100%;
    text-align: center;
    /* vertical-align: middle; */
    margin-top: 10%;
    /* margin-right: 20%; */
}

.innerr3 {
    height: 100%;
    text-align: center;
    /* vertical-align: middle; */
    margin-top: 10%;
    /* margin-right: 20%; */
}

.item1 {
    display: flex;
    flex-direction: column;
    order: 1;
    /* padding: 60px; */
    background: linear-gradient(to right, #ffd700, #ffd910, #ffe700);
    color: rgb(2, 2, 2);
    font-weight: bolder;
    border-radius: 10px 10px 0px 0px;
    width: 20%;
}

.png-over {
    height: 10%;
    position: absolute;
    top: 0;
    left: 0
}

.card-image {
    height: 20%;
    border-radius: 50%;
}

.card-image2 {
    height: 20%;
    border-radius: 50%;
}

.card-image3 {
    height: 20%;
    border-radius: 50%;
}

.item2 {
    /* order: 1; */
    /* padding: 60px; */
    /* background: linear-gradient(315deg, #b1b1b6 0%, #5d5e5c); */
    background: #b1b1b6;
    margin-top: 40px;
    border-radius: 10px 10px 0px 0px;
    width: 20%;
    font-weight: bolder;
}

.item3 {
    order: 1;
    /* padding: 60px; */
    /* margin: 10px; */
    /* background: linear-gradient(to left, #CD7F32, #CD7F99); */
    background: #CD7F32;
    margin-top: 80px;
    /* height: 10px; */
    border-radius: 10px 10px 0px 0px;
    width: 20%;
    font-weight: bolder;
}


/* BOTTOM DIV */

.parent-container {
    background-color: #353535;
    padding-top: 50px;
    padding-bottom: 50px;
}

.main-container {
    padding: 0px;
    padding-bottom: 20px;
    background-color: #292929;
    border: 1px solid gray;
    border-radius: 10px;
}

.conatiner-header {
    color: white;
    background-color: #16191c;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 10px 10px 0px 0px;
}

.inner-conatiner {
    padding: 10px 30px 20px;
    background-color: #383737;
}

table {
    width: 100%;
    background-color: #333333;
}

.highlight {
    background-color: #282850;
    font-size: 15px;
    color: #fff;
}

.evenrow {
    background-color: #3b3a3a;
}

td {
    color: #fff;
}

.mat-row:hover {
    background-color: #311f1f;
}

.mat-form-field {
    width: 100%;
}

mat-paginator {
    color: #fff;
    background: #282850;
}

.mat-cell {
    padding-right: 10px;
}

.profile-picture {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}