@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section {
    background: #343148;
    height: 100vh;
}

.toolbar {
    font-family: 'Mate SC', serif;
    font-size: large;
    background: rgb(60, 60, 182);
    color: #fff;
    padding: 15px;
    width: 100%;
}

.row {
    background: rgba(161, 157, 168, 0.795);
    border-radius: 30px;
    box-shadow: 12px 12px 22px grey;
}

img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.btnlog {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btnlog:hover {
    background: white;
    border: 1px solid;
    color: black;
}

mat-form-field {
    padding-top: 10px;
    width: 100%;
}