<body>
    <div class="container">
        <h1 class="admin"> <b> Admin Dashboard </b></h1>
    </div>

    <div class="container parent">

        <mat-grid-list style="margin-bottom: 10px;" cols="1" rowHeight="4:1">
            <mat-grid-tile>
                <div class="baap">
                    <div class="inner-content ">
                        <div>
                            <h1>Total Users : {{userData?.length}}</h1>
                        </div>

                    </div>
                    <div>
                        <h1>Active Users: {{userStatus?.active}} <span style="padding: 100px;"></span> InActive Users: {{userStatus?.inactive}}</h1>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="2" rowHeight="3:1">

            <!-- <mat-grid-tile>
                <div class="inner-content">
                    <div>
                        <h1>Total Users : </h1>
                    </div>
                    <div>
                        <h2> {{userData?.length}}</h2>
                    </div>
                </div>
            </mat-grid-tile> -->

            <mat-grid-tile>
                <div class="inner-content">
                    <div>
                        <h1>Total Matches : </h1>
                    </div>
                    <div>
                        <h2> {{allMatch?.length}}</h2>
                    </div>
                </div>
                <h1> </h1>
            </mat-grid-tile>

            <mat-grid-tile>
                <div class="inner-content">
                    <div>
                        <h1>Matches Declaration Left : </h1>
                    </div>
                    <div>
                        <h2> {{oldMatchData?.length}}</h2>
                    </div>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div class="inner-content">
                    <div>
                        <h1>Matches Left : </h1>
                    </div>
                    <div>
                        <h2> {{upcomingMatches?.length}}</h2>
                    </div>
                </div>
            </mat-grid-tile>

            <!-- <mat-grid-tile>
                <div class="inner-content">
                    <div>
                        <h1>Total Contest Placed Till Now : </h1>
                    </div>
                    <div>
                        <h2> 55</h2>
                    </div>
                </div>
            </mat-grid-tile> -->

            <mat-grid-tile>
                <div class="inner-content">
                    <div>
                        <h1>Total Teams : </h1>
                    </div>
                    <div>
                        <h2> {{teamData?.length}} </h2>
                    </div>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div class="inner-content">
                    <div>
                        <h1>Total Venues : </h1>
                    </div>
                    <div>
                        <h2> {{venueData?.length}} </h2>
                    </div>
                </div>
            </mat-grid-tile>

        </mat-grid-list>

    </div>
</body>