<body>
    <div class="container">
        <h1 class="admin"> <b> Admin Dashboard </b></h1>
    </div>

    <div class="container parent">

        <mat-grid-list style="margin-bottom: 10px;" cols="1" rowHeight="4:1">
            <mat-grid-tile>
                <div class="baap">
                    <div class="inner-content ">
                        <div>
                            <h1>Total Users : {{userData?.length}}</h1>
                        </div>

                    </div>
                    <div class="sub-data">
                        <div>
                            <h1> Active Users: </h1>
                            <h1 class="green"> {{ activeStatusCounter(userData) }} </h1>
                        </div>
                        <span></span>
                        <div>
                            <h1> InActive Users: </h1>
                            <h1 class="red"> {{ inactiveStatusCounter(userData) }} </h1>
                        </div>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list style="margin-bottom: 10px;" cols="1" rowHeight="4:1">
            <mat-grid-tile>
                <div class="baap">
                    <div class="inner-content ">
                        <div>
                            <h1>Total Matches : {{allMatch?.length}}</h1>
                        </div>

                    </div>
                    <div class="sub-data">
                        <div>
                            <h1>Matches Left :</h1>
                            <h1 class="green"> {{upcomingMatches?.length}}
                            </h1>
                        </div>
                        <span></span>
                        <div>
                            <h1>Matches Declaration Left :</h1>
                            <h1 class="red"> {{oldMatchData?.length}} </h1>
                        </div>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="2" rowHeight="3:1">

            <!-- <mat-grid-tile>
                <div class="inner-content">
                    <div>
                        <h1>Total Contest Placed Till Now : </h1>
                    </div>
                    <div>
                        <h2> 55</h2>
                    </div>
                </div>
            </mat-grid-tile> -->

            <mat-grid-tile>
                <div class="inner-content">
                    <div>
                        <h1>Total Teams : </h1>
                    </div>
                    <div>
                        <h2> {{teamData?.length}} </h2>
                    </div>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div class="inner-content">
                    <div>
                        <h1>Total Venues : </h1>
                    </div>
                    <div>
                        <h2> {{venueData?.length}} </h2>
                    </div>
                </div>
            </mat-grid-tile>

        </mat-grid-list>

    </div>
</body>