.customf {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background: linear-gradient(45deg, #ccff00, maroon, #FF5F1F); */
    background: linear-gradient(45deg, #cc1ab3, #1318a5);
    /* text-align: center; */
}

.text-light {
    font-size: 1em;
}

.footer-content {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

a {
    /* text-decoration: none; */
    color: white;
    margin-right: 20px;
}

.example-spacer {
    flex: 1 1 auto;
}