<!-- Footer -->
<footer class=" text-center text-lg-start customf">

    <!-- Copyright -->
    <div class="text-center p-3 footer-content" style="background-color: rgba(0, 0, 0, 0.2);">

        <h6 class="text-light">© 2021 Copyright: SportsGeek</h6>
        <span class="example-spacer"></span>
        <h6 class="text-light"><a routerLink="User/about-us">About Us</a></h6>

        <h6 class="text-light"><a routerLink="User/contact-us">Contact Us</a></h6>

        <h6 class="text-light"><a routerLink="User/rules">Rules </a></h6>

    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->