<body>
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>About Us</h1>
                </div>
                <div class="content">
                    <h3>IPL Betting</h3>
                    <p>
                        The Indian Premier League (IPL) is a professional Twenty20 cricket league, contested by eight teams based out of eight different Indian cities. The league was founded by the Board of Control for Cricket in India (BCCI) in 2007. It is usually held between
                        March and May of every year and has an exclusive window in the ICC Future Tours Programme.
                    </p>
                    <p>
                        There have been thirteen seasons of the IPL tournament. The current IPL title holders are the Mumbai Indians, who won the 2020 season.
                    </p>
                    <p>
                        Currently IPL 2021 has been Postponed. Rumours has it IPL 2021 will restart in September so lets hope for the best.
                    </p>
                    <div class="button">
                        <a (click)="onNavigate()" routerLink>Read More</a>
                    </div>
                </div>
                <div class="social">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="image-section">
                <img src="assets/img/ipl.jpg" alt="">
            </div>
        </div>
    </div>

</body>